@import './utils/variables';

.mainHousing > section > article {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    & > .slidePictures {
        & > .previous {
            position: absolute;
            margin-left: 7px;
            margin-top: 36%;
        }
        & > .next {
            position: absolute;
            margin-top: 36%;
            margin-left: 83.5%;
            transform: rotate(180deg);
        }
        & > div {
            & > img {
                width: 100%;
                height: 255px;
                border-radius: 10px;
                object-fit: cover;
                object-position: revert;
            }
        }
    }
}
